/bin/
/build/

 

/Libs/

 

/Reports/
/.settings/
/.gradle/

 

/.classpath
.cache
/.project
/Screenshots/
/settings/
/build.gradle
/Keywords/katalon-plugin.json
/settings/internal/com.kms.katalon.composer.testcase.properties